# Syntaxe de base de Python
## Commentaires en Python
Les commentaires servent généralement à documenter le code : ils vont être ignorés lors de l’exécution du code et vont donc être totalement transparents pour l’utilisateur final. En Python, on utilise le signe ```#``` pour écrire un commentaire dans notre code.

In [190]:
# this function will return Hello World
print("Hello World")

Hello World


Puisque Python ignore les chaînes de caractères littérales qui ne sont pas affectées à une variable, vous pouvez ajouter une chaîne de caractères multiligne (guillemets triples) dans votre code, et y placer votre commentaire.

In [191]:
"""
this is a comment on
multiple lines.
Here we show just a message
using print() function
"""
print("Hello World again")

Hello World again


## L’indentation en Python
Dans la grande majorité des langages, l’indentation n’a qu’une visée esthétique : elle permet à un script d’être plus lisible pour un développeur.
En Python est utilisée pour définir des blocs de code, c’est-à-dire pour indiquer à l’interpréteur quelle instruction appartient à quelle autre. Dès qu’il y a une relation de dépendance, il faudra ajouter une tabulation. Si on indente mal notre code Python, celui-ci ne s’exécutera tout simplement pas et Python renverra une erreur.

In [224]:
x = 2
if x==2:
    print("x equals 2")
elif x==3:
    print("x equals 3")
else:
    print("autre chose")
for i in range(4):
    print(i)

x equals 2
0
1
2
3

In [223]:
x = 2
if x == 2:
print("x equals 2")

IndentationError: expected an indented block (<ipython-input-223-06cd5c847251>, line 3)

## Identificateurs
Python utilise des identificateurs pour nommer ses objets y parmis les variables, fonctions, class ... mais il faut respecter les règles usuelles suivantes pour le choix des identificateurs:

- L'identificateurs doit commencer par une lettre ou par un underscore.
- L'identificateurs ne doit contenir que des caractères alphanumériques courants (pas d’espace dans l'identificateurs ni de caractères spéciaux comme des caractères accentués ou tout autre signe).
- On ne peut pas utiliser certains mots qui possèdent déjà une signification spéciale pour le langage (on parle de mots “réservés”).

<table>
<thead>
<tr>
<th>Mots réservés en Python</th>
<th>&nbsp;</th>
<th>&nbsp;</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>False</code></td>
<td><code>def</code></td>
<td><code>if</code></td>
<td><code>raise</code></td>
</tr>
<tr>
<td><code>None</code></td>
<td><code>del</code></td>
<td><code>import</code></td>
<td><code>return</code></td>
</tr>
<tr>
<td><code>True</code></td>
<td><code>elif</code></td>
<td><code>in</code></td>
<td><code>try</code></td>
</tr>
<tr>
<td><code>and</code></td>
<td><code>else</code></td>
<td><code>is</code></td>
<td><code>while</code></td>
</tr>
<tr>
<td><code>as</code></td>
<td><code>except</code></td>
<td><code>lambda</code></td>
<td><code>with</code></td>
</tr>
<tr>
<td><code>assert</code></td>
<td><code>finally</code></td>
<td><code>nonlocal</code></td>
<td><code>yield</code></td>
</tr>
<tr>
<td><code>break</code></td>
<td><code>for</code></td>
<td><code>not</code></td>
<td></td>
</tr>
<tr>
<td><code>class</code></td>
<td><code>from</code></td>
<td><code>or</code></td>
<td></td>
</tr>
<tr>
<td><code>continue</code></td>
<td><code>global</code></td>
<td><code>pass</code></td>
<td></td>
</tr>
</tbody>
</table>

In [4]:
# Prenons le paiement d'une facture online
montant_ht = 132.50
taux_tva = 0.14
montant_tva = montant_ht * taux_tva
global = montant_ht + montant_tva

SyntaxError: invalid syntax (<ipython-input-4-dcb1ccafc56c>, line 5)

Prenez l'habitude de lire attentivement les messages d'erreur. Ce message d'erreur indique que l'instruction *global = montant_ht + montant_tva* a une syntaxe non valide, et c'est tout à fait correct.

Vous n'avez pas besoin de mémoriser cette liste. Dans la plupart des environnements de développement (comme VS Code), les mots-clés sont affichés dans une couleur différente (vous avez remarqué que *global* était en bleu), si vous essayez d'en utiliser un comme nom de variable, vous le saurez.

Donc reprenons notre exemple :

In [5]:
# Utilisons cette fois le nom "montant_ttc"
montant_ht = 132.50
taux_tva = 0.14
montant_tva = montant_ht * taux_tva
montant_ttc = montant_ht + montant_tva

In [6]:
# Afficher la somme d'argent à payer ("montant_TTC") en dirhams
print(montant_ttc)

151.05


Notez que les identificateurs en Python sont sensibles à la casse, ce qui signifie qu’on va faire une différence entre l’emploi de majuscules et de minuscules : un même identificateur écrit en majuscules ou en minuscules créera deux éléments totalement différentes.

Il est important d’utiliser une politique cohérente de nommage des identificateurs. Voici un style de nommage utilisé:

- nom_de_ma_variable pour les variables.

- NOM_DE_MA_CONSTANTE pour les constantes.

- maFonction, maMethode pour les fonctions et les méthodes.

- MaClasse pour les classes.

- UneExceptionError pour les exceptions.

- nom_de_module pour les modules et pour tous les autres identificateurs.

## Variables
Une variable est une zone de la mémoire de l'ordinateur dans laquelle une valeur est stockée. Pour créer une variable en Python, on va donc devoir choisir un identificateur et affecter une valeur à cet identificateur, c’est-à-dire stocker une valeur dans notre variable.

In [7]:
var_1 = 2
var_2 = 3
# ou bien
var_1, var_2 = 2, 3
print(var_1, var_2, 4)

2 3 4

## Exercice
- Saisir un nom et un âge en utilisant l’instruction ```input()```. Les afficher.
- Saisir une valeur en utilisant l’instruction ```input()```, et afficher est ce qu'elle est paire ou impaire.

In [8]:
x = input("Entrez une valeur")
print(x)

2

In [ ]:
x = 3
if x%2 == 0:
    print("valeur paire")
else:
    print("valeur impaire")

## Correction

In [200]:
nom = input("Entrez votre nom")
age = input("Entrez votre age")
print("votre nom est nom "+nom+" votre age est "+age)

votre nom est nom Hamza votre age est 25

In [187]:
valeur = int(input("Entrez une valeur"))
if valeur%2 == 0:
    print("valeur paire")
else:
    print("valeur impaire")

valeur paire

## Type de données :
Python définit de nombreux types de données qu’on va pouvoir stocker dans nos variables et manipuler ensuite : nombres entiers, décimaux, complexes, chaines de caractères, booléens, listes, tuples, dictionnaires ...

Dans ce cours, nous allons apprendre les principaux types de données en Python et comment les utiliser.

Nous allons voir :

    1. Les nombres
    2. Les chaînes de caractèrres
    3. Les listes
    4. Les tuples
    5. Les dictionnaires
    6. Les ensembles et les booléens
    7. None
    8. Et finalement la conversion de type

### Nombres
#### Types des nombres

Python a différents types de nombres. Nous nous concentrerons principalement sur les **nombres entiers (integers)** et les **nombres flottants (floats)**.

Les nombres entiers sont simplement les nombres sans point décimal, que ça soit positifs ou bien négatifs. Par exemple : 2 et -1 sont des exemples d'entiers.

In [11]:
print(2022)  # décimal (base 10)
print(0b11111100110)  # binaire (base 2)
print(0o3746)  # octal (base 8)
print(0x7E6)  # hexadecimal (base 16)

2022
2022
2022
2022


Les nombres flottants (à virgule flottante) en Python sont notables parce qu'ils ont un point décimal en eux, ou utilisent un exponentiel (e) pour définir le nombre. Par exemple 2.0 et -3.14 sont des exemples de nombres flottants. 4E2 (ou bien 4e2, égale à 4 fois 10 à la puissance de 2) est aussi un nombre flottant en Python.

In [12]:
print(20.0)
print(2e1)
print(-314e-2)

20.0
20.0
-3.14

Commençons maintenant avec un peu d'arithmétique de base :

#### Arithmétique de base

In [13]:
# Addition
print(2+1)

3

In [14]:
# Soustraction
print(2-1)

1

In [15]:
# Multiplication
print(2*2)

4

In [16]:
# Division décimale
print(1/2)

0.5

In [17]:
# Division entière
print(1//2)

0

In [18]:
# Reste de la division entière
print(1%2)

1

In [19]:
# Puissance
print(2**3)

8

In [20]:
# Faire la racine de la même façons
print(8**(1/3)) # 1/3 est le racine cubique

2.0

### Chaîne de caractères
Les chaînes de caractères sont utilisées en Python pour enregistrer des informations textuelles, comme les noms. Les chaînes de caractères en Python sont en fait des **séquence**, ce qui signifie que nous pourrons utiliser l'**indexation** pour récupérer des lettres particulières (par exemple la première lettre) à partir d'une chaîne de caractères.

Cette idée d'une **séquence** est importante en Python et nous y reviendrons plus tard.

#### Création d'une chaîne de caractères

Pour créer une chaîne de caractères en Python, vous devez utiliser des **guillemets simples** (' ') ou des **guillemets doubles** (" "). Par exemple :

In [21]:
# Une chaîne de caractères 
'Bonjour tout le monde'

'Bonjour tout le monde'

In [22]:
# Ou bien
"Bonjour tout le monde"

'Bonjour tout le monde'

In [23]:
# Faites attention aux guillemets!
'c'est une chaîne de caractères malle défini'

SyntaxError: invalid syntax (<ipython-input-23-633d1909c85c>, line 2)

La raison de l'erreur ci-dessus est que le deuxième simple guillemet (l'apostrophe de *c'est*) ce compte comme la fin de notre chaîne de caractères.

Vous pouvez utiliser une des solutions suivantes :
- Utiliser des combinaisons de guillemets simples et doubles :

In [24]:
# Une chaîne de caractères correcte
"c'est une chaîne de caractères bien défini"

"c'est une chaîne de caractères bien défini"

In [25]:
"La langue 'Python' est nommée d'après Monty Python, et non pas d'après le serpent"

"La langue 'Python' est nommée d'après Monty Python, et non pas d'après le serpent"

- Utiliser les symbole **\'** et **\"** avec n'import quel type de guillemets :

In [26]:
# Une chaîne de caractères correcte
'c\'est une chaîne de caractères bien défini'

"c'est une chaîne de caractères bien défini"

In [27]:
# Une deuxième chaîne de caractères correcte
'une \"deuxième\" chaîne de caractères bien défini'

'une "deuxième" chaîne de caractères bien défini'

#### Affichage d'une chaîne de caractères

In [28]:
print("Bonjour tout le monde 1")
print("Bonjour tout le monde 2")
print("Utilisez \n pour afficher une nouvelle ligne")
print('\n')
print('Utilisez \t pour afficher une tabulation: 1 \t 2 \t 3 ')

Bonjour tout le monde 1
Bonjour tout le monde 2
Utilisez
 pour afficher une nouvelle ligne


Utilisez 	 pour afficher une tabulation: 1 	 2 	 3

Si vous ne voulez pas que les caractères préfacés par **\\** soient interprétés comme des caractères spéciaux, vous pouvez utiliser des chaînes de caractères brutes (**raw strings**) en ajoutant un **r** avant le premier guillemet, prenons le même code ci-dessus :

In [29]:
print("Bonjour tout le monde 1")
print("Bonjour tout le monde 2")
print(r"Utilisez \n pour afficher une nouvelle ligne")
print(r'\n')
print(r'Utilisez \t pour afficher une tabulation: 1 \t 2 \t 3 ')

Bonjour tout le monde 1
Bonjour tout le monde 2
Utilisez \n pour afficher une nouvelle ligne
\n
Utilisez \t pour afficher une tabulation: 1 \t 2 \t 3

Les chaînes de caractères littérales (**string literals**) peuvent s'étendre sur plusieurs lignes, cela ce fait de deux façons :
- La première consiste à utiliser des guillemets triples (" " "..." " " ou ' ' '...' ' ').
- La deuxième est en ajoutant un **\\** à la fin de la ligne.

Par exemple :

In [30]:
print('''py
thon est:
\t \t simple
''')

py
thon est:
	 	 simple

In [31]:
print("py\
thon est:\
\t \t simple\
")

python est:	 	 simple

Notez que les triples guillemets affichent le retour à la ligne où il existe, alors que l'ajout de **\\** ne le prix pas en considération à la sortie.

#### Indexation des chaînes de caractères
Nous savons que les chaînes de caractères sont des **séquences**, ce qui signifie que Python peut utiliser des indices pour appeler des parties de la séquence.

En Python, nous utilisons des parenthèses **[]** après un objet pour appeler son indice. Notons également que l'**indexation** commence à 0 pour Python.

Créons un nouvel objet appelé:

In [32]:
# Assigner "s" comme chaîne de caractères
s = 'Python3.10'

In [33]:
# Vérifier
s

'Python3.10'

In [34]:
# Afficher "s"
print(s)

Python3.10

Commençons l'**indexation** !

Prenons la chaîne de caractères *s*, elle est indexée comme suit:

<table>
<tr>
    <th>P</th> 
    <th>y</th>
    <th>t</th>
    <th>h</th>
    <th>o</th>
    <th>n</th>
    <th>3</th>
    <th>.</th>
    <th>1</th>
    <th>0</th>
</tr>

<tr>
    <td>0</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>8</td>
    <td>9</td>
</tr>

<tr>
    <td>-10</td>
    <td>-9</td>
    <td>-8</td>
    <td>-7</td>
    <td>-6</td>
    <td>-5</td>
    <td>-4</td>
    <td>-3</td>
    <td>-2</td>
    <td>-1</td>
</tr>
 </table>

In [35]:
# Afficher le premier élément
s[0]

'P'

In [36]:
# Afficher le troisème élément
s[2]

't'

Nous pouvons utiliser **:** pour effectuer un **tranchage (slicing)** qui récupère tout jusqu'à un point désigné. Par exemple :

In [37]:
# Récupérer tout ce qui dépasse le premier élément (1er élément est inclus) jusqu'à la fin.
s[1:]

'ython3.10'

In [38]:
# Notez qu'il n'y a pas de changement à "s"
s

'Python3.10'

In [39]:
# Récupérer le tout jusqu'au 3ème indice
s[:3]

'Pyt'

In [40]:
# Notez que le 3ème élément est exclus.
# Vous le remarquerez beaucoup en Python, où les instructions sont généralement
# dans le contexte de "jusqu'à, mais pas inclus".
s[3]

'h'

In [41]:
# Assigner des chaînes de caractéres à partir de "s"
langage_programmation = s[:6]
version = s[6:10]
print("langage_programmation:", langage_programmation)
print("version:", version)

langage_programmation: Python
version: 3.10

Notez que la virgule (,) qu'on a utilisé dans la fonction <font color='blue'>**print()**</font> fait une concaténation en ajoutant un espace entre les chaînes de caractères.

In [42]:
# Concaténer 4 chaînes de caractéres
print("Bonjour",'tout',"le",'monde')

Bonjour tout le monde

Vous ne pouvez pas concacténer des chaines de caractères par une virgule sans utiliser la fonction <font color='blue'>**print()**</font>. Par exemple :

In [43]:
"Bonjour",'tout',"le",'monde'

('Bonjour', 'tout', 'le', 'monde')

Le résultat n'est pas une chaîne de caractéres bien sûr. On va voir comment faire la concaténation plus tard.

In [44]:
# Récupérer tout
s[:]

'Python3.10'

On peut aussi utiliser l'**indexation négative**.

In [45]:
# Dernière lettre
s[-1]

'0'

In [46]:
# Récupère tout sauf la dernière lettre
s[:-1]

'Python3.1'

On peut aussi utiliser l'indexation et le tranchage en spécifiant un *pas* (la valeur par défaut est 1). Par exemple:

In [47]:
# Récupérer tout, mais aller par un pas de taille de 1
s[::1]

'Python3.10'

In [48]:
# Récupérer tout, mais aller par un pas de taille de 2
s[::2]

'Pto31'

In [49]:
# Récupérer les éléments d'indices de 1 jusqu'à 5 (5 est exclus), avec un pas de taille de 2
s[1:5:2]

'yh'

La forme générale de **tranchage** est :
<table>
<tr>
    <th>s[</th>
    <th>Début</th> 
    <th>:</th>
    <th>Fin (exclus)</th>
    <th>:</th>
    <th>Pas</th>
    <th>]</th>
</tr>
<table>

In [50]:
# Nous pouvons utiliser ce "pas" pour imprimer une chaîne de caractères à l'envers.
# "s_enverse" est l'envers de "s" :
s_enverse = s[::-1]
# "s_enverse_enverse" est l'envers de "s_enverse", et donc à la même valeurs que "s" :
s_inverse_enverse = s_enverse[::-1]
print(s_enverse)
print(s_inverse_enverse)

01.3nohtyP
Python3.10

#### Propriétés des chaînes de caractères
Il est important de noter que les chaînes de caractères ont une propriété importante connue sous le nom d'**immutabilité** (immutability). Cela signifie qu'une fois qu'une chaîne de caractères est créée, les éléments qu'elle contient ne peuvent pas être modifiés ou remplacés. Par exemple :

In [51]:
# Vérifier
s

'Python3.10'

In [52]:
# Essayons de changer la première lettre en 'p'
s[0] = 'p'

TypeError: 'str' object does not support item assignment

Remarquez comment l'erreur nous dit directement ce que nous ne pouvons pas faire : *'str' object does not support item assignment* (l'objet 'str' - la chaîne de caractère s - ne supporte pas l'affectation à un élément).

Ce que nous pouvons faire, c'est de **concaténer** les chaînes de caractères :

In [53]:
# Vérifier
s

'Python3.10'

In [54]:
# Concaténer les chaînes de caractères
s + ' est simple'

'Python3.10 est simple'

In [55]:
# Nous pouvons cependant réassigner "s"
s = s + ' est simple'
s += ' et amusant'
print(s)

Python3.10 est simple et amusant

In [56]:
# Vérifier
s

'Python3.10 est simple et amusant'

Notez bien que vous ne pouvez pas concaténer une chaîne de caractère avec un autre type (comme un nombre). Par exemple :

In [57]:
s + 12

TypeError: can only concatenate str (not "int") to str

Nous pouvons utiliser le symbole de multiplication pour créer des **répétitions** :

In [58]:
letter = 'h'

In [59]:
letter*18

'hhhhhhhhhhhhhhhhhh'

#### Méthodes/Fonctions de base intégrées (built-in) de chaînes de caractères

Les objets en Python ont généralement des **méthodes et des fonction intégrées**, qui peuvent effectuer des actions ou des commandes sur l'objet lui-même.

Ne vous inquiétez pas! nous passerons par les méthodes en détail plus tard, vous devez juste savoir qu'une méthode en Python, est une fonction accessible par un point (.) .

Voici quelques exemples des méthodes/fonctions intégrées dans les chaînes de caractères :

In [60]:
# Vérifier
s

'Python3.10 est simple et amusant'

In [61]:
# Récupérer la longueur de "s" à l'aide de la fonction "len()"
len(s)

32

In [62]:
# Mettre "s" en MAJUSCULE
s.upper()

'PYTHON3.10 EST SIMPLE ET AMUSANT'

In [63]:
# Mettre "s" en majuscule
s.lower()

'python3.10 est simple et amusant'

In [64]:
# Découper "s" selon les espaces blancs (c'est la valeur par défaut)
s.split()

['Python3.10', 'est', 'simple', 'et', 'amusant']

In [65]:
# Découper "s" selon un élément spécifique
s.split('t')

['Py', 'hon3.10 es', ' simple e', ' amusan', '']

Il y a beaucoup plus de méthodes/fonctions que celles qui sont couvertes ici, et qu'on va les étudier plus tard.

#### f-strings
Pour insérer la valeur d'une variable dans une chaîne de caractères, placez la lettre *f* immédiatement avant les guillemets. Placez des accolades autour du ou des noms de toutes les variables que vous souhaitez utiliser à l'intérieur de la chaîne. Python remplacera chaque variable par sa valeur lorsque la chaîne sera affichée. Ces chaînes de caractères sont appelées *f-strings*. Le *f* est pour format, car Python formate la chaîne en remplaçant le nom de toute variable entre accolades par sa valeur. Prenons les examples suivants :

In [66]:
prenom = "Hamza"
nom = "Jamal"
message = f"Bonjour {prenom} {nom}"
print(message)

Bonjour Hamza Jamal

Les f-strings ont été introduites pour la première fois dans Python 3.6. La méthode *format()* été le seul moyen utilisé dans Python 3.5 et les versions antérieures pour faire la même chose. Pour utiliser la méthode *format()*, énumérez les variables que vous souhaitez utiliser dans la chaîne de caractères à l'intérieur des parenthèses qui suivent *format*. Chaque variable est désignée par un ensemble d'accolades, les accolades seront remplies par les valeurs énumérées entre parenthèses dans l'ordre indiqué :

In [67]:
prenom = "Hamza"
nom = "Jamal"
message = "Bonjour {} {}".format(prenom, nom)
print(message)

Bonjour Hamza Jamal

### Listes

Plus tôt dans les chaînes de caractères, nous avons introduit le concept d'une **séquence** en Python. Les listes peuvent être pensées de la version la plus générale d'une séquence en Python. Contrairement aux chaînes de caractères, elles sont **mutables**, ce qui signifie que les éléments à l'intérieur d'une liste peuvent être modifiés.

Dans cette section, nous en apprendrons davantage sur :
    
    1. La création de listes
    2. L'indexation et tranchage des listes
    3. Les méthodes de liste de base
    4. L'imbrication des listes

#### Construire des listes

Les listes sont construites avec des crochets **[]** et des virgules séparant chaque élément de la liste.

Allons de l'avant et voyons comment nous pouvons construire des listes :

In [68]:
# Affecter une liste à une variable nommée l
l = [1,2,3]

Nous venons de créer une liste d'entiers, mais les listes peuvent contenir différents types d'objets. Par exemple :

In [69]:
# Réaffecter une liste à l
l = ['un',2,3.0,"quatre"]

Tout comme les chaînes de caractères, la fonction <font color='blue'>**len()**</font> vous indiquera combien d'éléments se trouvent dans la séquence de la liste.

In [70]:
# Longueur de l
len(l)

4

#### Indexation et tranchage
L'**indexation** et le **tranchage** fonctionnent comme dans les chaînes de caractères. Faisons un exemple pour nous rappeler comment cela fonctionne :

In [71]:
# Récupérer les éléments aux indices 0 et -3
print(l[0])
# Rappelez que l'élément au indice -3 peut être récupérer à partir de l'indice 1
print(l[-3])
print(l[1])

un
2
2

In [72]:
# Changer l'élément à l'indice 3
l[3] = 4
print(l)

['un', 2, 3.0, 4]

In [73]:
# Récupérer tout ce qui dépasse le premier élément jusqu'à la fin
l[1:]

[2, 3.0, 4]

In [74]:
# Récupérer tout jusqu'à l'élément d'indice 3
l[:3]

['un', 2, 3.0]

Il faut également noter que l'**indexation** des listes retournera une erreur s'il n'y a pas d'élément à cet indice. Par exemple :

In [75]:
l[100]

IndexError: list index out of range

Nous pouvons aussi utiliser le **+** pour **concaténer** des listes, comme nous l'avons fait pour les chaînes de caractères.

In [76]:
l + ['cinque']

['un', 2, 3.0, 4, 'cinque']

Notez que cela ne change pas la liste originale

In [77]:
# Vérifier
l

['un', 2, 3.0, 4]

Vous devrez réassigner la liste pour rendre le changement permanent.

In [78]:
# Réassigner "l"
l = l + ['cinque']

In [79]:
# Vérifier
l

['un', 2, 3.0, 4, 'cinque']

Nous pouvons aussi utiliser l'astérisque (\*) pour la **duplication**, comme nous l'avons fait pour les chaînes de caractères :

In [80]:
# Faire doubler "l"
l * 2

['un', 2, 3.0, 4, 'cinque', 'un', 2, 3.0, 4, 'cinque']

In [81]:
# Encore une fois, la duplication n'est pas permanent
l

['un', 2, 3.0, 4, 'cinque']

#### Méthodes de base des listes

Si vous êtes familier avec un autre langage de programmation, vous pouvez commencer à établir des parallèles entre les **tableaux** dans un autre langage et les listes en Python. Les **listes** en Python ont cependant tendance à être plus flexibles que les tableaux dans d'autres langues pour deux bonnes raisons : 
- Elles n'ont pas de taille fixe (ce qui signifie que nous n'avons pas à spécifier la taille d'une liste).
- Elles n'ont pas de contrainte de type fixe (comme nous l'avons vu plus haut).

Allons donc explorer des méthodes spéciales pour les listes :

In [82]:
# Créer une nouvelle liste
liste = [1,2,3]

Utilisez la méthode <font color='blue'>**append()**</font> pour ajouter de façon permanente un élément à la fin d'une liste :

In [83]:
# Append
liste.append('cinque')

In [84]:
# Vérifier
liste

[1, 2, 3, 'cinque']

J'ai oublié d'ajouter le quatre et je peux qu'ajouter des éléments à la fin avec la méthode <font color='blue'>**append()**</font> !!

Heureusement on peut utiliser la méthode <font color='blue'>**insert()**</font> pour placer un élément à l'indice indiqué. Par exemple :

In [85]:
# Placer "quatre" à l'indice 3
liste.insert(3,"quatre")

In [86]:
# Vérifier
liste

[1, 2, 3, 'quatre', 'cinque']

Utilisez <font color='blue'>**pop()**</font> pour faire supprimer ("pop off") un élément de la liste. Par défaut, pop enlève le dernier indice, mais vous pouvez aussi spécifier l'indice à enlever. Voyons un exemple :

In [87]:
# Supprimer l'élément d'indice 0
liste.pop(0)

1

In [88]:
# Vérifier
liste

[2, 3, 'quatre', 'cinque']

In [89]:
# Récupérer l'élément supprimé, rappelez que l'élément à supprimer par défault est d'indice -1
popped_item = liste.pop()

In [90]:
# Vérifier
popped_item

'cinque'

In [91]:
# Afficher la liste restante
liste

[2, 3, 'quatre']

Utilisez la méthode <font color='blue'>**remove()**</font> pour supprimer la première occurrence d'une valeur. Par exemple :

In [92]:
# Supprimer l'élément "quatre"
liste.remove('quatre')

In [93]:
# Vérifier
liste

[2, 3]

Ajoutons des nouveaux éléments à *liste* :

In [94]:
# Ajouter des élément à "liste"
liste.append(2)
liste.insert(0,3)

In [95]:
# Supprimer la première 3 à "liste"
liste.remove(3)

In [96]:
# Vérifier
liste

[2, 3, 2]

In [97]:
# Supprimer la première 2 à "liste"
liste.remove(2)

In [98]:
# Vérifier
liste

[3, 2]

Nous pouvons utiliser la méthode <font color='blue'>**sort()**</font> et les méthodes <font color='blue'>**reverse()**</font> pour trier et inverser une liste :

In [99]:
new_list = ['P','y','t','h','o','n']

In [100]:
# Afficher
new_list

['P', 'y', 't', 'h', 'o', 'n']

In [101]:
# Utilisez la méthode "reverse()" pour inverser l'ordre (c'est permanent)
new_list.reverse()

In [102]:
# Afficher
new_list

['n', 'o', 'h', 't', 'y', 'P']

In [103]:
# Utilisez la méthode "sort()" pour trier la liste (dans ce cas, l'ordre alphabétique)
new_list.sort()

In [104]:
# Afficher
new_list

['P', 'h', 'n', 'o', 't', 'y']

In [105]:
# Utilisation de la méthode "sort()" sur une liste des numéros fait le triage selon un ordre ascendante
l_num = [1,4,5,3,2]
l_num.sort()

In [106]:
# Afficher
l_num

[1, 2, 3, 4, 5]

#### Listes imbriquées
Une grande caractéristique des structures de données Python est qu'elles supportent l'**imbrication**. Cela signifie que nous pouvons avoir des structures de données à l'intérieur des structures de données. Par exemple : Une liste à l'intérieur d'une liste.

In [107]:
# Créer une matrice à partir des listes
m = [[0,1,2],[3,4,5],[6,7,8]]

In [108]:
# Afficher
m

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

Maintenant, nous pouvons à nouveau utiliser l'indexation pour récupérer des éléments, mais il y a maintenant deux niveaux d'indices. Les éléments dans l'objet *m* (la liste *m*), puis les éléments des listes intérieures.

In [109]:
# Récupérer le premier élément de la matrice "m"
m[0]

[0, 1, 2]

In [110]:
# Récupérer le premier élément (un nombre) du premier élément (une liste) de la matrice "m"
m[0][0]

0

### Tuples

En Python, les tuples sont très similaires aux listes, mais contrairement aux listes, ils sont **immutables**, ce qui signifie qu'ils ne peuvent pas être modifiés. Vous utiliseriez les tuples pour présenter des choses qui ne devraient pas être changées, comme les jours de la semaine ou les dates sur un calendrier. 

Dans cette section, nous aurons un bref aperçu de ce qui suit :

    1. La création des tuples
    2. Les méthodes de base du tuple
    3. L'immutabilité des tuples
    4. Quand utiliser les tuples

Vous aurez une intuition de la façon d'utiliser les tuples en fonction de ce que vous avez appris sur les listes. Nous pouvons les traiter de façon très similaire, la principale distinction étant que les tuples sont immuables.

#### Construire des tuples

Les tuples sont construits avec des parenthèses **()** avec des éléments séparés par des virgules. Par exemple :

In [111]:
# Créer un tuple
t = (1,2,"trois")

In [112]:
# Obtenir la longueur comme ce qu'on a fait pour une liste
len(t)

3

In [113]:
# Utiliser l'indexation comme ce qu'on a fait pour une liste
t[0]

1

In [114]:
# le tranchage est aussi comme pour les listes
t[1:]

(2, 'trois')

#### Méthodes de base du tuple

Les tuples ont des **méthodes intégrées**, mais pas autant que les listes. Regardons deux d'entre eux :

In [115]:
# Utiliser la méthode "index()" pour récupérer l'indice d'un élément
t.index('trois')

2

In [116]:
# Soyez sûr que cet élément existe, sinon vous obtenez une erreur
t.index('un')

ValueError: tuple.index(x): x not in tuple

In [117]:
# Utilisez la méthode "count()" pour compter le nombre de fois qu'une valeur apparaît.
t.count(2)

1

In [118]:
t.count('un')

0

#### Immutabilité
Soyez Attention! les tuples sont **immutable**, vous ne pouvez pas les modifier :

In [119]:
t[0]= 'un'

TypeError: 'tuple' object does not support item assignment

Bien sûr en raison de cette immutabilité, les tuples ne peuvent pas grandir. Une fois qu'un tuple est fait, nous ne pouvons pas l'**ajouter d'autres éléments**.

In [120]:
t.append('quatre')

AttributeError: 'tuple' object has no attribute 'append'

#### Quand utiliser Tuples

Vous vous demandez peut-être : "Pourquoi utiliser des tuples alors qu'ils ont moins de méthodes disponibles ?" Pour être honnête, les tuples ne sont pas utilisés aussi souvent que les listes dans la programmation, mais sont utilisés **lorsque l'immutabilité est nécessaire**. Si dans votre programme vous faites circuler un objet et que vous devez vous assurer qu'il n'est pas modifié, alors tuple devient votre solution.

Vous devriez maintenant être capable de créer et d'utiliser des tuples dans votre code ainsi que d'avoir une compréhension de leur immuabilité.

### Dictionnaires

Nous avons appris les **séquences** en Python mais maintenant nous allons changer de vitesse et apprendre les **mappings** en Python. Si vous connaissez d'autres langues, vous pouvez considérer ces dictionnaires comme des **tables de hachage**. 

Cette section servira de brève introduction aux dictionnaires et se compose de :

    1. La création d'un dictionnaire
    2. L'accès aux objets d'un dictionnaire
    3. Les dictionnaires imbriqués
    4. Les méthodes de base du dictionnaire

Qu'est-ce qu'une **mappings** ? Les mappings sont une collection d'objets qui sont stockés par une **clé**, contrairement à une séquence qui stocke les objets par leur position relative. Il s'agit d'une distinction importante, car les mappings ne conserveront pas l'ordre puisqu'ils ont des objets définis par une clé.

Un dictionnaire Python est constitué d'une clé puis d'une valeur associée. Cette valeur peut être presque n'importe quel objet Python.


#### Construire un dictionnaire
Voyons comment nous pouvons construire des dictionnaires pour mieux comprendre leur fonctionnement :

In [121]:
# Construire un dictionnaire avec {} et : pour signifier une clé et une valeur
d = {'cle1':'valeur1','cle2':'valeur2'}

In [122]:
# Appeler les valeurs par leurs clés
d['cle1']

'valeur1'

Il est important de noter que les dictionnaires sont très flexibles dans les types de données qu'ils peuvent contenir. Par exemple :

In [123]:
# Construire un dictionnaire dont ces valeurs sont de types: entier, chaîne de caractères, liste et tuple
d = {'nombre':123,'string':'123','liste':[1,2,3],'tuple':('item0','item1','item2')}

In [124]:
# Appeler les éléments du dictionnaire
d['liste']

[1, 2, 3]

In [125]:
# Appeler un élément de cette liste
d['liste'][1]

2

Nous pouvons également modifier les valeurs d'une clé. Par exemple :

In [126]:
d['nombre']

123

In [127]:
# Changer la valeur du clé "nombre"
d['nombre'] = 100

In [128]:
# Verifier
d['nombre']

100

Nous pouvons également créer des clés par affectation. Par exemple, si nous avons commencé avec un dictionnaire vide, nous pourrions continuellement y ajouter des nouveaux valeurs :

In [129]:
# Créer un nouveau dictionnaire vide
d = {}

In [130]:
# Créer une nouvelle clé par une simple affectation
d['langage'] = 'Python'

In [131]:
# Vous pouvez faire une affectation dont la clé est la valeur sont de n'importe quel type
d[1] = 3.6

# Utiliser une clé de type chaîne de caractéres est plus approprié

In [132]:
# Afficher
d

{'langage': 'Python', 1: 3.6}

#### Dictionnaires imbriqués

Espérons que vous commencez à voir à quel point Python est puissant avec sa flexibilité d'**imbrication** d'objets et d'appel de méthodes sur eux. Voyons voir un dictionnaire imbriqué à l'intérieur d'un dictionnaire :

In [133]:
# Dictionnaire imbriqué à l'intérieur d'un dictionnaire imbriqué à l'intérieur d'un dictionnaire
d = {'cle1':{'cle_inter1':{'cle_inter_inter1':'valeur'}}}

Voyons comment nous pouvons récupérer cette valeur :

In [134]:
# Continuez d'appeler les clés
d['cle1']['cle_inter1']['cle_inter_inter1']

'valeur'

#### Quelques méthodes de dictionnaire

Il y a quelques méthodes que l'on peut appeler pour un dictionnaire. Faisons une brève présentation de quelques-unes d'entre elles :

In [135]:
# Créer un dictionnaire typique
d = {'cle1':1,'cle2':2,'cle3':3}

In [136]:
# La méthode "keys()" retourne un objet de type "dict_keys" contient une liste des clés
d.keys()

dict_keys(['cle1', 'cle2', 'cle3'])

In [137]:
# La méthode "values()" retourne un objet de type "dict_values" contient une liste des valeurs
d.values()

dict_values([1, 2, 3])

In [138]:
# La méthode "items()" retourne un objet de type "dict_items" contient une liste des tuples (clé, valeur)
d.items()

dict_items([('cle1', 1), ('cle2', 2), ('cle3', 3)])

### Ensembles et Booléens

Il y a deux autres types d'objets en Python que nous devrions rapidement couvrir. Les ensembles et les booléens. 

#### Ensembles

Les ensembles sont une collection non ordonnée d'éléments **uniques**. Nous pouvons les construire en utilisant la fonction <font color='blue'>**set()**</font>. Allons de l'avant et faisons une ensemble pour voir comment ça marche.

In [139]:
# Créer une ensemble
x = set()

In [140]:
# Ajouter aux ensembles avec la méthode "add()"
x.add(1)

In [141]:
# Afficher
x

{1}

Notez que les crochets **{}** n'indique pas un dictionnaire.

Nous savons qu'un ensemble n'a que des entrées uniques. Que se passe-t-il lorsque nous essayons d'ajouter quelque chose qui se trouve déjà dans un ensemble ?

In [142]:
# Ajouter le même élément
x.add(1)

In [143]:
# Afficher
x

{1}

Remarquez qu'il ne placera pas un autre 1 là. C'est parce qu'un ensemble n'est concerné que par des éléments uniques ! Nous pouvons mouler une liste d'éléments répétitifs multiples dans un ensemble pour obtenir les éléments uniques. Par exemple :

In [144]:
# Créer une liste avec des répétitions
l = [1,1,2,2,3,4,5,6,1,1]

In [145]:
# Transformer une liste à une ensemble pour obtenir les éléments uniques
set(l)

{1, 2, 3, 4, 5, 6}

#### Booléen

Python est venu avec le type booléen, qui peut être soit vrai (*True*) ou faux (*False*) (ces deux valeurs ne sont fondamentalement que les entiers 1 et 0). Passons vers quelques exemples rapides des booléens :

In [146]:
# Définir un objet comme étant un booléen
b = True

In [147]:
# Afficher
b

True

##### Opérateurs relationnels

Nous pouvons également utiliser des **opérateurs relationnels** (opérateurs de comparaison) pour créer des booléens. Ces opérateurs nous permettront de comparer des variables et d'obtenir une valeur booléenne (*Vrai* ou *Faux*).

Nous présenterons d'abord un tableau des opérateurs de comparaison, puis nous travaillerons sur quelques exemples :

<table class="table table-bordered">
<tr>
<th style="width:10%">Opérateur</th><th style="width:45%">Description</th><th>Exemple</th>
</tr>
<tr>
<td>==</td>
<td>Si les valeurs de deux opérandes sont égales, alors la condition devient vraie (*True*)</td>
<td>a == b</td>
</tr>
<tr>
<td>!=</td>
<td>Si les valeurs de deux opérandes ne sont pas égales, alors la condition devient vraie (*True*)</td>
<td>a != b</td>
</tr>
<tr>
<td>&gt;</td>
<td>Si la valeur de l'opérande gauche est supérieure à la valeur de l'opérande droite, alors la condition devient vraie (*True*)</td>
<td> a &gt; b</td>
</tr>
<tr>
<td>&lt;</td>
<td>Si la valeur de l'opérande gauche est inférieure à la valeur de l'opérande droite, alors la condition devient vraie (*True*)</td>
<td> a &lt; b</td>
</tr>
<tr>
<td>&gt;=</td>
<td>Si la valeur de l'opérande gauche est supérieure ou égale à la valeur de l'opérande droite, alors la condition devient vraie (*True*)</td>
<td> a &gt;= b </td>
</tr>
<tr>
<td>&lt;=</td>
<td>Si la valeur de l'opérande gauche est inférieure ou égale à la valeur de l'opérande droite, alors la condition devient vraie (*True*)</td>
<td> a &lt;= b </td>
</tr>
</table>

Voyons maintenant quelques exemples sur ces opérateurs :

In [148]:
# Egalité
1 == 1

True

Une erreur courante est d'utiliser un seul signe égal (=) au lieu d'un double signe égal (==). Rappelez-vous que = est un **opérateur d'assignation** et == est un **opérateur relationnels**.

In [149]:
# Inégalité
1 != 1

False

In [150]:
# Supérieur ou égal
1 >= 2

False

##### Opérateurs logiques
Une caractéristique intéressante de Python est la possibilité de **chaîner** plusieurs comparaisons pour effectuer un test plus complexe. 

Voyons quelques exemples d'utilisation de chaînes :

In [151]:
# Calculons
1 < 2 < 3

True

Dans cet exemple nous avons vérifié si 1 était inférieur à 2 **et** si 2 était inférieur à 3. Nous aurions pu écrire ceci en utilisant l'**opérateur logique _and_** en Python :

In [152]:
# Calculons
1 < 2 and 2 < 3

True

In [153]:
# Calculons
1 < 3 > 2 != 2

False

In [154]:
# En utilisant "and"
1 < 3 and 3 > 2 and 2 != 2

False

Nous pouvons aussi utiliser **or** pour écrire des comparaisons en Python. Par exemple :

In [155]:
1 == 2 or 2 > 1

True

Notez que c'était vrai, c'est parce qu'avec l'**opérateur logique _or_**, il suffit que *1 == 2* ou *2 > 1* soit vrai.

Finalement il nous reste l'**opérateur logique _not_**. l'opérateur **not** inverse une expression booléenne, donc :

In [156]:
not True

False

In [157]:
# Et
not False

True

In [158]:
# Reprenons une expression précédente (1 < 3 > 2 != 2), et qui nous a donné False
not 1 < 3 > 2 != 2

True

### None

*None* est un objet que nous pouvons l'utiliser comme **caractère de remplacement** pour un objet que nous ne voulons pas encore assigner:

In [159]:
# Utiliser "None"
b = None

### Conversion de type (casting)

#### Fonction type()
Si vous êtes encore des confusions et vous ne pouvez parfois pas déterminer le type d'une valeur, vous pouvez toujours utiliser la fonction <font color='blue'>**type()**</font> :

In [160]:
# Un entier
type(8)

int

In [161]:
# Une chaine de caractères
type('Bonjour tout le monde')

str

#### Fonctions de conversion de type
Python fournit des fonctions qui convertissent les valeurs d'un type à un autre. Par exmple la fonction <font color='blue'>**float()**</font> que nous avons l'utilisé précédemment, prend une valeur et la convertit, si elle le peut, en nombre flottant.
Il y a d'autres fonctions de ce genre :
<table class="table table-bordered">
<tr>
<th style="width:10%">Fonction</th><th style="width:45%">Description</th><th>Exemple</th>
</tr>
<tr>
<td>int()</td>
<td>Convertit en un nombre entier</td>
<td>int(flottant), int("entier_chaine")</td>
</tr>

<tr>
<td>bin()</td>
<td>Convertit un nombre entier en binaire préfixée par "0b" sous forme d'une chaîne de caractères</td>
<td>bin(entier)</td>
</tr>

<tr>
<td>hex()</td>
<td>Convertit un entier en hexadécimal sous forme d'une chaîne de caractères</td>
<td>hex(entier)</td>
</tr>

<tr>
<td>oct()</td>
<td>Convertit un entier en octal sous forme d'une chaîne de caractères</td>
<td>oct(entier)</td>
</tr>

<tr>
<td>float()</td>
<td>Convertit en un nombre flottant</td>
<td>float(entier), float("flottant_chaine")</td>
</tr>

<tr>
<td>str()</td>
<td>Convertit en une chaîne de caractères</td>
<td>str(entier), str(flottant), str([l,i,s,t,e]) ...</td>
</tr>

<tr>
<td>list()</td>
<td>Convertit en une liste</td>
<td>list("chaine"), list((t,u,p,l,e)) ...</td>
</tr>

<tr>
<td>tuple()</td>
<td>Convertit en un tuple</td>
<td>tuple("chaine"), tuple([l,i,s,t,e]) ...</td>
</tr>

<tr>
<td>dict()</td>
<td>Convertit en un dictionnaire, l'entrée doit être une séquence de tuples (clé, valeur).</td>
<td>dict([(cle1,valeur1),(cle2,valeur2)]) ...</td>
</tr>

<tr>
<td>set()</td>
<td>Convertit en une ensmble</td>
<td>set("chaine"), set([l,i,s,t,e]) ...</td>
</tr>
</table>

Prenons quelques exemples :

In [162]:
# Convertir 3.14 en un entier
int(3.14)

3

In [163]:
# Convertir "3" en un entier
int("3")

3

In [164]:
# Convertir 1011 en un entier en spécifiant la base dans laquelle la chaîne de caractères est.
print(int("1011",2))
# 1011 est en binaire
print(int("1011",10))
# 1011 est en décimale
print(int("0x3f3",16))
# 3f3 est en hexadécimale, 0x est pour indiqué qu'il est de type hexadécimale

11
1011
1011

In [165]:
# Convertir 1011 en hexadécimale, c'est l'opération inverse de celle précédente
hex(1011)

'0x3f3'

In [166]:
# Convertir une liste en une chaîne de caractère
str([1,2,3])

'[1, 2, 3]'

In [167]:
# Convertir une chaîne de caractère en une liste
list("liste")

['l', 'i', 's', 't', 'e']

In [168]:
# Convertir une liste de tuples (clé, valeur) en un dictionnaire
dict([('langage','Python'), ('version',3.6)])

{'langage': 'Python', 'version': 3.6}

In [169]:
# Convertir un tuple en une ensemble
set((1,1,1,1,1))

{1}

Vous devriez maintenant avoir une compréhension de base des objets Python et des types de structure de données.

### Parcourir les éléments de liste/tuple/dictionnaire/ensemble
Vous voudrez souvent parcourir toutes les entrées pour les types de données composés de plusieurs éléments comme les listes, tuples ..., en effectuant la même tâche avec chaque élément. Par exemple, dans une liste de nombres, vous pouvez vouloir effectuer la même opération statistique sur chaque élément. Lorsque vous voulez effectuer la même action pour chaque élément des types de données mentionnés, vous pouvez utiliser la boucle *for* de Python.

In [171]:
# Parcourir une liste des noms
list_noms = ["Aziz", "Meriem", "Ahmed"]
for nom in list_noms:
    print(f"Bonjour {nom}")

Bonjour Aziz
Bonjour Meriem
Bonjour Ahmed

In [225]:
# Parcourir un tuple des noms
tuple_noms = ("Aziz", "Meriem", "Ahmed")
for nom in tuple_noms:
    print(f"Bonjour {nom}")

Bonjour Aziz
Bonjour Meriem
Bonjour Ahmed

## Exercises
1. Écrivez un programme qui demande à l'utilisateur d'entrer la largeur et la longueur d'une chambre. Une fois ces valeurs lues, votre programme doit calculer et afficher la surface de cette chambre. La longueur et la largeur seront saisies sous forme de nombres à virgule flottante. Incluez les unités dans votre message de demande et de sortie.

2. Dans de nombreuses provinces à l'étranger, une petite consigne est ajoutée aux contenants de boissons pour encourager les gens à les recycler. Dans une province, les contenants de boissons d'un litre ou moins sont soumis à une consigne de 0,10\$ et les contenants de boissons de plus d'un litre sont soumis à une consigne de 0,25\$. Écrivez un programme qui lit le nombre de contenants de chaque taille auprès de l'utilisateur. Votre programme doit ensuite calculer et afficher le remboursement qui sera reçu pour le retour de ces récipients. Formatez la sortie de manière à ce qu'elle comprenne un signe de dollar et deux chiffres à droite de la virgule décimale.

3. Un triangle peut être classé en fonction de la longueur de ses côtés : équilatéral, isocèle ou scalène. Les trois côtés d'un triangle équilatéral ont la même longueur. Un triangle isocèle a deux côtés qui ont la même longueur et un troisième qui a une longueur différente. Si tous les côtés ont des longueurs différentes, le triangle est scalène. Écrivez un programme qui lit les longueurs des trois côtés d'un triangle à partir de l'utilisateur. Affichez ensuite un message indiquant le type du triangle.

4. Dans cet exercice, vous allez créer un programme qui calcule la moyenne d'une collection de valeurs entrées par l'utilisateur. L'utilisateur entrera 0 comme valeur limite pour indiquer qu'aucune autre valeur ne sera fournie. Votre programme doit afficher un message d'erreur approprié si la première valeur saisie par l'utilisateur est 0.

5. Écrivez un programme qui affiche une table de conversion des températures en degrés Celsius et en degrés Fahrenheit. Le tableau doit inclure des lignes pour toutes les températures comprises entre 0 et 100 degrés Celsius qui sont des multiples de 10 degrés Celsius. Ajoutez les titres appropriés à vos colonnes. La formule de conversion entre les degrés Celsius et les degrés Fahrenheit peut être trouvée sur Internet.

6. L'un des premiers exemples connus de cryptage a été utilisé par Jules César. César devait fournir des instructions écrites à ses généraux, mais il ne voulait pas que ses ennemis apprennent ses plans si le message tombait entre leurs mains. Il a donc développé ce que l'on a appelé plus tard le chiffre de César.

    Le principe de ce chiffrement est simple (et en tant que tel, il n'offre aucune protection contre les techniques modernes de décryptage). Chaque lettre du message original est décalée de 3 places. Par conséquent, A devient D, B devient E, C devient F, D devient G, etc.

    Les trois dernières lettres de l'alphabet sont ramenées au début : X devient A, Y devient B et Z devient C. Les caractères non alphabétiques ne sont pas modifiés par le chiffrement.

    Écrivez un programme qui met en œuvre un chiffrement de type César. Permettez à l'utilisateur de fournir le message et la quantité de décalage, puis affichez le message décalé. Assurez-vous que votre programme code les lettres majuscules et minuscules. Votre programme doit également prendre en charge les valeurs de décalage négatives afin qu'il puisse être utilisé à la fois pour coder et décoder des messages.

7. Écrivez un programme qui convertit un nombre binaire (base 2) en décimal (base 10). Votre programme doit commencer par lire le nombre binaire de l'utilisateur sous forme de chaîne de caractères. Il doit ensuite calculer le nombre décimal équivalent en traitant chaque chiffre du nombre binaire. Enfin, votre programme doit afficher le nombre décimal équivalent avec un message approprié.

8. Écrivez un programme qui convertit un nombre décimal (base 10) en binaire (base 2). Lisez le nombre décimal de l'utilisateur sous la forme d'un nombre entier, puis utilisez l'algorithme de division illustré ci-dessous pour effectuer la conversion. Lorsque l'algorithme est terminé, le résultat contient la représentation binaire du nombre. Affichez le résultat, accompagné d'un message approprié.

    ```
    Soit le résultat une chaîne de caractères vide
    Soit q représentant le nombre à convertir
    Répétez:
        Fixer r égal au reste lorsque q est divisé par 2
        Convertissez r en une chaîne de caractères et ajoutez-la au début du résultat.
        Divisez q par 2, en éliminant le reste, et enregistrez le résultat dans q
    jusqu'à ce que q soit égal à 0
    ```